Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [17]:
def is_symmetrical(num):
    num1=str(num)
    num2=reversed(num1)
    for i in num2:
        for  j in num1:
            if i==j:
                return True
            else:
                return False
print(is_symmetrical(12567))
print(is_symmetrical(7227) )
print(is_symmetrical(44444444))
print(is_symmetrical(1112111))
#using slicing technique
def is_symmetrical1(num):
    num4=str(num)
    num5=num4[::-1]
    if num4 ==num5:
        return True
    else:
        return False
print(is_symmetrical(12567))
print(is_symmetrical(7227) )
print(is_symmetrical(44444444))
print(is_symmetrical(1112111))

False
True
True
True
False
True
True
True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [25]:
def multiply_nums(strn):
    strn1=strn.split(', ')
    lst1=[]
    for i in strn1:
        lst1.append(int(i))
    mul=1
    for i in lst1:
        if type(i)==int:
            mul=mul*i
    return mul
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("2, 3"))
print(multiply_nums("54, 75, 453, 0") )
print(multiply_nums("10, -2"))

24
6
0
-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [49]:
def square_digits(num):
    conv=str(num)
    lst1=[]
    for i in conv:
        lst1.append(int(i)**2)
    strn=" "
    for i in lst1:
        strn+=str(i)
    return strn
print(square_digits(9119))
print(square_digits(3212))
print(square_digits(2483))

 811181
 9414
 416649

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [59]:
def setify(lst):
    lst1=set(lst)
    lst2=list(lst1)
    return lst2
print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [80]:
import math
def mean(num):
    num1=str(num)
    lst3=[]
    for i in num1:
        lst3.append(i)
    n=len(lst3)
    tot=0
    for i in lst3:
        tot=tot+int(i)
        result=tot/n
    return result
    
        
print(math.trunc(mean(12345)))
print(math.trunc(mean(42)))
print(math.trunc(mean(666) ))

3
3
6